{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="nav navbar-nav">
      {{ nav_link('home', 'HOME') }}
      {{ nav_link('about', 'ABOUT') }}
      {{ nav_link('contact', 'CONTACT') }}
      </nav>
    <div id="main">
      <h2>This is part of my base template.</h2>
      {%block content %}{% endblock %}
      <h2>This is part of my base template.</h2>
    </div><!-- /#main -->
    <footer>
      {% block footer %}
      Watch! This part of the footer is ocming from the base template!
      {% endblock %}
    </footer>
  </body>
</html>
